<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>記事一覧</h1>

  <% if @articles.present? %>
    <% @articles.each_slice(2) do |articles| %>
      <div class="row m-b10">
        <% articles.each do |article| %>
          <div class="col-sm-6">
            <div class="card">
              <h5 class="card-header"><%= article.title %></h5>
              <div class="card-body">
                <p class="card-text"><%= markdown(article.body) %></p>
                <%= link_to 'Show', article, class: "btn btn-primary" %>
                <%= link_to 'Edit', edit_article_path(article), class: "btn btn-success" %>
                <%= link_to 'Destroy', article, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <br>

  <%= link_to '新しい記事', new_article_path, class: "btn btn-primary" %>
</div>
